.money-ladder {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.life-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.life-lines div {
  width: 100px;
  height: 50px;
  background-color: darkblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px white solid;
  cursor: pointer;
}

.life-lines div:hover {
  background-color: #51ff0d;
}

.fifty-fifty {
  font-size: x-large;
  font-weight: bolder;
}

.life-lines .icon {
  width: 32px;
  height: 32px;
}

.prize-list .prize {
  list-style: none;
}

.prize-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  width: 80%;
}

.prize {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  font-size: larger;
  background: blue;
}

.prize-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 100%;
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: larger;
  font-weight: bolder;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 16px solid darkblue;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid darkblue;
}

.prize-list-item:hover .arrow-left {
  border-right: 20px solid gold;
}

.prize-list-item:hover .arrow-right {
  border-left: 20px solid gold;
}

.prize-list-item:hover .rectangle {
  background-color: gold;
  color: black;
}
